@page "/"

<PageTitle>Overview</PageTitle>

<h1>KingTech Markdown2Markup</h1>

The KingTech Markdown2Markup library allows blazor projects to to render markdown as properly formatted HTML.
<br />
This library is build around the <a href="https://github.com/xoofx/markdig">MarkDig</a> library by xoofx and supports all its elements. 
In addition to this extensive library, some custom components have been added.
<br />
For the full source code and example projects, check out <a href="https://github.com/KingTechNL/KingTech.Web.FormGenerator">https://github.com/KingTechNL/KingTech.Web.FormGenerator</a>.
<br />
<br />
<br />

<h2>Getting Started.</h2>

In order to convert markdown to HTML, simply add the <a href="https://www.nuget.org/packages/KingTech.Web.Markdown2Markup">KingTech.Web.Markdown2Markup</a> package and add the following line to the <b><i>head</i></b> section in your <b><i>App.razor</i></b> file.

<pre>
    <code>
        &lt;Markdown2MarkupHeaders /&gt;
    </code>
</pre>
<br />
